<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'main.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">       
    <title>Shorter URL</title>
</head>
<body>
    <div class="wrapper">
        {% include 'users.html' %}
        <h1>Ваш укороченный url!</h1>
        <div class="short_url">
            <a class="a" href="{{short_url}}">{{short_url}}</a>
            <button class="copy_url">Копировать</button>
        </div>
        {% include 'info.html' %}
    </div>    
    <script type="text/javascript" src="{% static 'main.js' %}"></script>
</body>
</html>